<div class="card">
    <div class="card-content">
        <p style="text-align: center;" class="title">
            Status
        </p>
        <div class="field">
            <input class="is-checkradio is-success" (click)="ui.setOnline" id="exampleCheckboxSuccess" type="checkbox" name="exampleCheckboxSuccess">
            <label for="exampleCheckboxSuccess">Online</label>
        </div>

        <div class="field">
            <input class="is-checkradio is-warning" id="exampleCheckboxWarning" type="checkbox" name="exampleCheckboxWarning">
            <label for="exampleCheckboxWarning">Mantainace</label>
        </div>

        <div class="field">
            <input class="is-checkradio is-danger" id="exampleCheckboxDanger" type="checkbox" name="exampleCheckboxDanger">
            <label for="exampleCheckboxDanger">Offline</label>
        </div>
    </div>
</div>