.card {
    margin-top: 20%;
    margin-left: 36%;
    margin-right: 36%;
}

.user-tag {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}

.member-tag {
    float: right;
}

.label-home {
    float: left;
}