<div class="card">
    <div class="card-content">
        <p class="title">
            Dev Server
            <span *ngIf="ui.mantainace == true;" class="tag is-warning user-tag">Mantainace</span>
            <span *ngIf="ui.online == true;" class="tag is-success user-tag">Online</span>
            <span *ngIf="ui.offline == true;" class="tag is-danger user-tag">Offline</span>
        </p>
        <p class="subtitle">
            <strong>Address: </strong> Devserver.mcpro.io
        </p>
        <p class="subtitle">
            <strong>Port: </strong> 41832
        </p>
        <!-- section -->
        <hr>
        <!-- members -->
        <p class="subtitle">
            <strong>HackerSamuel  <span class="tag is-primary member-tag">Owner</span></strong>
        </p>

        <p class="subtitle">
            <strong>Sneakyninja7373  <span class="tag is-info member-tag">Admin</span></strong>
        </p>

        <p class="subtitle">
            <strong>PlaneBadge  <span class="tag is-info member-tag">Admin</span></strong>
        </p>
    </div>
</div>