.nav-background {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/09/03/12512/0729517a901dbcbe959a6ddaaea2a0fe-700.jpg");
}

.nav-a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-title {
    font-size: large;
}