/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/cool-checkboxes-for-bulma.io/dist/css/bulma-radio-checkbox.min.css";
.center-message {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.center-text {
    text-align: center;
}

.card {
    margin-top: 15vw;
    margin-left: 36vw;
    margin-right: 36vw;
}

@media screen and (max-width: 991px) {
    .card {
        margin-top: 10vw;
        margin-left: 26vw;
        margin-right: 26vw;
    }
}