/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
.center-message {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.center-text {
    text-align: center;
}

.card {
    margin-top: 20%;
    margin-left: 36%;
    margin-right: 36%;
}