/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma.sass";
.center-message {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.center-text {
    text-align: center;
}